.list {
  padding: 20px 0;
}
.content {
  border: 1px solid var(--color-gray-300);
  padding: 20px;
}
.list-title {
  font-size: var(--font-size-xl);
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-gray-300);
}
.list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-group-item {
  padding: 5px 0;
  border-bottom: 1px solid var(--color-gray-300);
}
.list-group-item .text {
  padding: 5px;
}
.list-group-item .link {
  padding: 5px;
  text-decoration: none;
  color: var(--color-blue-500);
  transition: 300ms;
}
.list-group-item .link:hover, .list-group-item .link:active {
  color: var(--color-blue-700);
}
