.DragDropFile {
  border: 3px dotted var(--color-primary);
  height: 200px;
  width: 60%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
}
