@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,600&display=swap");

@import "minireset.css";
@import "styles/tokens.css";

html {
  margin: 0;
  font-family: var(--font-family-sans-0);
  color: var(--color-gray-800);
}
